// Login

.auth {
  min-height: 100vh;
  background-image: linear-gradient(217deg, #6fb9f8, #3daaf85e, #49d3fc1a, #3fd3ff00);
  .head {
    height: 200px;
    background: url('//s.yezgea02.com/1616032174786/cryptocurrency.png') no-repeat center;
    background-size: 120%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    img {
      width: 34px;
      margin: 15px 0 0 15px;
    }
  }
  .tab {
    color: #597fe7;
    padding: 30px 24px 10px 24px;
    > span {
      margin-right: 10px;
      font-size: 14px;
      font-weight: bold;
      &.active {
        font-size: 20px;
        border-bottom: 2PX solid #597fe7;
        padding-bottom: 6px;
      }
    }
  }
  .form {
    padding: 0 6px;
    :global {
      .za-cell {
        background-color: transparent;
        &::after {
          border-top: none;
        }
      }
    }
  }
  .operation {
    padding: 10px 24px 0 24px;
    .agree {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      label {
        margin-left: 10px;
        font-size: 14px;
      }
    }
  }
}

// home
.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  .header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: #007fff;
    color: #fff;
    font-size: 14px;
    z-index: 100;
    padding: 10px;
    .data-wrap {
      font-size: 14px;
      > span {
        font-size: 12px;
        > b {
          font-size: 20px;
          font-family: DINCondensed-Bold, DINCondensed;
          margin-left: 4px;
        }
      }
      .income {
        margin-left: 10px;
      }
    }
    .type-wrap {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      > div {
        align-self: flex-start;
        background: rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        padding: 3px 8px;
        font-size: 12px;
      }
      .left {
        margin-right: 6px;
      }
      .arrow {
        font-size: 12px;
        margin-left: 4px;
      }
    }
  }
  .content-wrap {
    height: calc(~"(100% - 50px)");
    overflow: hidden;
    overflow-y: scroll;
    background-color: #f5f5f5;
    padding: 10px;
    :global {
      .za-pull {
        overflow: unset;
      }
    }
  }
  .add {
    position: fixed;
    bottom: 100px;
    right: 30px;
    z-index: 1000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1PX solid #e9e9e9;
    color: #007fff;
  }
}



.item {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  .header-date {
    height: 40px;
    display: flex;
    background-color: #f9f9f9;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    div {
      color: rgba(0, 0, 0, 0.9);
    }
    .date {
      font-weight: bold;
      font-size: 16px;
    }
    .money {
      > span {
        margin-left: 20px;
        img {
          width: 20px;
          margin-right: 4px;
          vertical-align: -4px
        }
      }
    }
  }
  :global {
    .za-cell {
      &::after {
        left: 0;
      }
      .za-cell__title {
        display: flex;
        align-items: center;
      }
    }
  }
  .item-icon {
    font-size: 24px;
    color: #007fff;
    vertical-align: -2px;
    margin-right: 2px;
  }
}

/**
 popup-type
 */
.popup-type {
  height: 500px;
  background-color: #f5f5f5;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow-y: scroll;
  .header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 56px;
    text-align: center;
    font-size: 14px;
    line-height: 56px;
    color: rgba(0, 0, 0, 0.9);
    background-color: #fff;
    .cross {
      position: absolute;
      right: 10px;
      top: 50%;
      font-size: 20px;
      transform: translateY(-50%);
      color: rgba(0, 0, 0, 0.6);
    }
  }
  .content {
    padding: 20px;
    .all {
      display: inline-block;
      padding: 12px 20px;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.9);
      background-color: #fff;
    }
    .title {
      color: rgba(0, 0, 0, 0.9);
      margin: 10px 0;
      font-size: 14px;
    }
    .expense-wrap, .income-wrap {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      p {
        width: calc(~"(100% - 20px) / 3");
        text-align: center;
        padding: 12px 0;
        margin-bottom: 10px;
        background-color: #fff;
        font-size: 16px;
      }
    }
    .active {
      background-color: #007fff!important;
      color: #fff;
    }
  }
}

// popup data
.add-wrap {
  padding-top: 12px;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  .header {
    padding: 0 16px;
    .close {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
  .filter {
    padding: 12px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .type {
      span {
        display: inline-block;
        background: #f5f5f5;
        color: rgba(0, 0, 0, 0.5);
        padding: 4px 12px;
        font-size: 12px;
        border-radius: 24px;
        border: 1px solid #f5f5f5;
      }
      .expense {
        margin-right: 6px;
        &.active {
          background-color: #eafbf6;
          border-color: #007fff;
          color: #007fff;
        }
      }
      .income {
        &.active {
          background-color: #fbf8f0;
          border-color: rgb(236, 190, 37);
          color: rgb(236, 190, 37);
        }
      }
    }
    .time {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4px 12px;
      background-color: #f0f0f0;
      border-radius: 20px;
      color: rgba(0, 0, 0, 0.9);
      .arrow {
        font-size: 12px;
        margin-left: 5px;
      }
    }
  }
  .money {
    padding-bottom: 12px;
    border-bottom: 1px solid #e9e9e9;
    margin: 0 24px;
    .sufix {
      font-size: 36px;
      font-weight: bold;
      vertical-align: top;
    }
    .amount {
      font-size: 40px;
      padding-left: 10px;
    }
  }
  .type-warp {
    display: flex;
    overflow-x: auto;
    margin: 0 24px;
    margin-bottom: 20px;
    * {
      touch-action: pan-x;
    }
    .type-body {
      display: flex;
      white-space: nowrap;
      .type-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 16px 12px 10px 12px;
        .iconfont-wrap {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #f5f5f5;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          margin-bottom: 5px;
          .iconfont {
            color: rgba(0, 0, 0, 0.5);
            font-size: 20px;
          }
        }
        .expense {
          &.active {
            background-color: #007fff;
            .iconfont {
              color: #fff;
            }
          }
        }
        .income {
          &.active {
            background-color: rgb(236, 190, 37);
            .iconfont {
              color: #fff;
            }
          }
        }
      }
    }
  }
  .remark {
    padding: 0 24px;
    padding-bottom: 12px;
    color: #4b67e2;
    :global {
      .za-input--textarea {
        border: 1px solid #e9e9e9;
        padding:  10px;
      }
    }
  }
}

// header
.header-warp {
  border-bottom: 1px solid #e9e9e9;
  .block {
    width: 100%;
    height: 46px;
    :global {
      .za-nav-bar__title {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.9);
      }
      .za-icon--arrow-left {
        font-size: 20px;
      }
    }
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    .more {
      font-size: 20px;
    }
  }
}


// data
.data {
  min-height: 100%;
  background-color: #f5f5f5;
  .total {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0;
    margin-bottom: 10px;
    .time {
      position: relative;
      width: 96px;
      padding: 6px;
      background-color: #f5f5f5;
      color: rgba(0, 0, 0, .9);
      border-radius: 4px;
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
      span:nth-of-type(1)::after {
        content: '';
        position: absolute;
        top: 9px;
        bottom: 8px;
        right: 28px;
        width: 1px;
        background-color: rgba(0, 0, 0, .5);
      }
      .date {
        font-size: 16px;
        color: rgba(0, 0, 0, .5);
      }
    }
    .title {
      color: #007fff;
      margin-bottom: 8px;
      font-size: 12px;
      font-weight: 500;
    }
    .expense {
      font-size: 24px;
      color: #007fff;
      font-weight: 600;
      margin-bottom: 16px;
    }
    .income {
      color: rgba(0, 0, 0, .5);
      font-weight: 500;
    }
  }
  .structure {
    padding: 0 16px;
    background-color: #fff;
    margin-bottom: 10px;
    .head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 0;
      .title {
        font-size: 18px;
        color: rgba(0, 0, 0, .9);
      }
      .tab {
        span {
          display: inline-block;
          width: 40px;
          height: 24px;
          background-color: #f5f5f5;
          text-align: center;
          line-height: 24px;
          margin-left: 10px;
          border-radius: 4px;
        }
        .expense {
          &.active {
            background-color: rgba(0, 127, 255, 0.2);
            color: #007fff;
          }
        }
        .income {
          &.active {
            background-color: rgba(236, 190, 37, 0.2);
            color: rgb(236, 190, 37);
          }
        }
      }
    }
    .content {
      .item {
        display: flex;
        height: 50px;
        align-items: center;
        .left {
          flex: 4;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-right: 10px;
          .type {
            display: flex;
            align-items: center;
            span:nth-of-type(1) {
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              width: 30px;
              height: 30px;
              margin-right: 10px;
              color: #fff;
              flex-shrink: 0;
            }
            .name {
              width: 30px;
            }
            .expense {
              background-color: #007fff;
            }
            .income {
              background-color: rgb(236, 190, 37);
            }
          }
        }
        .right {
          flex: 8;
          display: flex;
          align-items: center;
          .percent {
            flex: 1;
            :global {
              .za-progress__track {
                background: transparent;
              }
            }
          }
          .momey {
            width: 100px;
          }
        }
      }
    }
    .proportion {
      background-color: #fff;
      padding: 12px;
      .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 0;
        .title {
          font-size: 18px;
          color: rgba(0, 0, 0, .9);
        }
        .tab {
          span {
            display: inline-block;
            width: 40px;
            height: 24px;
            background-color: #f5f5f5;
            text-align: center;
            line-height: 24px;
            margin-left: 10px;
            border-radius: 4px;
          }
          .expense {
            &.active {
              background-color: rgba(0, 127, 255, 0.2);
              color: #007fff;
            }
          }
          .income {
            &.active {
              background-color: rgba(236, 190, 37, 0.2);
              color: rgb(236, 190, 37);
            }
          }
        }
      }
      :global {
        #proportion {
          width: 100%;
          height: 400px;
        }
      }
    }
  }
}


// detail
.detail {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  padding: 12px 24px;
}

.card {
  border-radius: 12px;
  background-color: #fff;
  padding: 0 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .type {
    padding: 24px 0 12px 0;
    span:nth-of-type(1) {
      display: inline-block;
      width: 22px;
      height: 22px;
      color: #fff;
      border-radius: 50%;
      text-align: center;
      line-height: 24px;
      margin-right: 8px;
    }
    .expense {
      background-color: #007fff;
    }
    .income {
      background-color: rgb(236, 190, 37);
    }
    .iconfont {
      font-size: 16px;
    }
  }
  .amount {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 24px;
  }
  .info {
    width: 100%;
    font-size: 14px;
    text-align: left;
    .time {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 12px;
      span:nth-of-type(1) {
        flex: 3;
        color: rgba(0,0,0,0.5)
      }
      span:nth-of-type(2) {
        flex: 9;
      }
    }
    .remark {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 12px;
      span:nth-of-type(1) {
        flex: 3;
        color: rgba(0,0,0,0.5)
      }
      span:nth-of-type(2) {
        flex: 9;
        color: rgba(0,0,0,0.9)
      }
    }
  }
  .operation {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 16px;
    .van-icon {
      margin-right: 4px;
    }
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      flex: 1
    }
    span:nth-of-type(1) {
      color: red;
    }
  }
}

// account
.account {
  padding: 0 12px;
  .form {
    :global {
      .za-cell:after {
        left: unset;
        border-top: unset;
        border-bottom: 1PX solid #e9e9e9;
      }
    }
  }
  .btn {
    margin-top: 50px;
  }
}

// about
.about {
  padding: 0 20px;
  article {
    line-height: 20px;
  }
}

// user
.user {
  min-height: 100%;
  background-color: #f5f5f5;
  .head {
    height: 160px;
    // background-image: linear-gradient(189deg, #0033d6, #215ae4, #277ff2, #18a4ff);
    background: url('//s.yezgea02.com/1615971681107/%E4%BD%8D%E5%9B%BE%402x.png') no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px;
    .info {
      display: flex;
      flex-direction: column;
      > span {
        color: #fff;
      }
      span:nth-of-type(1) {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 6px;
        align-self: baseline;
        background-color: rgba(89, 127, 231, 1);
        padding: 2px 10px;
        border-radius: 20px;
      }
      span:nth-of-type(2) {
        font-size: 14px;
      }
    }
  }
  .content {
    width: 90%;
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 3px 2px 20px 10px rgba(0, 0, 0, .1);
    border-radius: 10px;
    overflow: hidden;
  }
  .logout {
    width: 90%;
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
  }
}

// userinfo

.userinfo {
  padding: 0 10px;
  h1 {
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 10px;
  }
  .item {
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 20px;
    .title {
      font-size: 16px;
      padding: 10px;
    }
    .avatar {
      display: flex;
      margin-bottom: 20px;
      .avatar-url {
        width: 80px;
        height: 80px;
        flex-shrink: 0;
        border-radius: 50%;
      }
      .desc {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 10px;
        .upload {
          width: 100px;
        }
      }
    }
    .signature {
      padding: 0 10px;
    }
  }
}
